@use '../base/variables';

html .el-date-editor {
  --el-date-editor-width: 100%;
  --el-input-height: 40px;

  .el-input {
    &__wrapper {
      width: 100%;
      box-sizing: border-box;
      position: relative;
    }

    &__prefix {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__suffix {
      margin-right: 30px;
    }
  }
}
